//Header van de applicatie
#header {
  position: sticky;
  top: 0;
  width: 100%;

  .container .row {
    height: 77px;
    align-items: center;

    @media (min-width: 499px) {
      width: 100%;
    }
  }

  //Brandname and Logo
  .brand-name-container {
    display: flex;
    align-items: center;

    .brand-logo {
      background: $logo-sprite;
      background-repeat: no-repeat;
      background-position: -257px -200px;
      height: 24px;
      width: 24px;
    }
    .seperator {
      background-color: $color-black;
      height: 28px;
      margin: 0 16px;
      width: 1px;
      border: 0 solid #000;
    }
    .brand-text-logo {
      background: $logo-sprite;
      background-repeat: no-repeat;
      background-position: -74px -200px;
      height: 29px;
      width: 103px;
    }
  }

  .search-container {
    position: relative;
    overflow: hidden;

    //Zoekveld
    input {
      border: solid 1px rgba(0, 0, 0, 0.26);
      padding: 10px 30px;
      border-bottom: 0px;
      background-image: linear-gradient(0deg, $color-black 2px, rgba(49, 59, 58, 0) 0),
        linear-gradient(0deg, rgba(0, 0, 0, 0.26) 1px, transparent 0);

      &:hover + div,
      &:focus + div {
        display: none;
      }
    }

    //Zoek icon
    .icon {
      color: rgb(104, 100, 100);
      position: absolute;

      &.icon-left {
        top: 10px;
        left: 10px;
      }

      &.icon-right {
        top: 11px;
        right: 10px;
      }
    }

    .search-placeholder {
      position: absolute;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      z-index: 999;
      top: 0;
      bottom: 0;
      width: 100%;
      background: #fafafa;
      border: solid 1px #dbdbdb;

      @media (max-width: 1199px) {
        display: none;
      }
      
      span {
        text-align: center;
      }

      &:hover {
        display: none;
      }
    }
  }
}
